<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOKSHOP</title>
    <link rel="stylesheet" href="./books.css">
</head>
<body>
    <H2 class="name">Big Book Shop</H2>
    <h3>Заголовок</h3>
    <section>
        <div class="create_container">
            <input
                class="create_input"
                type="text"
                placeholder="Поиск по заголовку"/>
        </div>
    </section>
    <h3>Подзаголовок</h3>
    <section>
        <div class="create_container">
            <input
                class="create_input"
                type="text"
                placeholder="Поиск по подзаголовку"/>
        </div>
    </section>
    <h3>Описание</h3>
    <section>
        <div class="create_container">
            <input
                class="create_input"
                type="text"
                placeholder="Поиск по описанию"/>
        </div>
    </section>
    <h3>Ценв</h3>
    <section>
        <div class="create_container">
            <input
                class="create_input"
                type="text"
                placeholder="Поиск по цене"/>
        </div>
    </section>
    <h3>Жанр</h3>
    <section>
        <div class="create_container">
            <input
                class="create_input"
                type="text"
                placeholder="Поиск по жанру"/>
        </div>
    </section>
    <h3>Автор</h3>
    <section>
        <div class="create_container">
            <input
                class="create_input"
                type="text"
                placeholder="Поиск по автору"/>
        </div>
    </section>
    <h3>Год выхода</h3>
    <section>
        <div class="create_container">
            <input
                class="create_input"
                type="text"
                placeholder="Поиск по году выхода"/>
        </div>
    </section>
    <h3>Дата добавления</h3>
    <section>
        <div class="create_container">
            <input
                class="create_input"
                type="text"
                placeholder="Поиск по дате добавления"/>
        </div>
    </section>
    <button class="create_button">Искать</button>
</body>
</html>